.p {
    height: 100vh;
    background-color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    padding: 20px;

    width: 300px;
    height: auto;

    background-color: #fff;
}

.title {
    color: #333;
    align-self: center;
}

.userPanel {
    padding: 20px;
    width: 800px;
    height: 400px;
}

.objects {
    width: 350px;
}

.con {
    margin-left: auto;
}